# Format:
# <classname>: false - don't include this class
# <classname>: true - include and use the defaults
# <classname>:
#   <param>: <value> - include and override the default(s)
#
# See params.pp in each class for what options are available

---
{#{% set answers = ansible_local.foreman_installer[foreman_installer_scenario~'_answers'] | combine(foreman_installer_scenarios_answers, recursive=True) %}#}
{# {{ foreman_installer_scenarios_answers | to_nice_yaml(indent=2) | indent(width=2, indentfirst=True) }} #}
{# Workaround https://github.com/ansible/ansible/issues/24425 #}
{{ foreman_installer_scenarios_answers | string | from_yaml | to_nice_yaml(indent=2) | indent(width=2, indentfirst=True) }}
